@{
    ViewData["Title"] = "Information page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Make changes page</h1>

<div class="container bg-light p-2 table-bordered border-primary">
    <div class="row">

        <div class="col-lg-4 d-flex align-items-stretch m-1">
            <div class="card h-100">
                <div class="card-body text-center bg-light table-bordered border-primary w-100">
                    <span class="card-title">
                        <i class="fas fa-user-lock fa-5x text-primary"></i>
                    </span>
                    <h5 class="card-title">Do changes.</h5>
                    <p class="card-text">Do changes.</p>
                    <div class="btn btn-outline-primary">
                        <a class="nav-link" asp-area="" asp-controller="" asp-action="">Learn more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch m-1">
            <div class="card h-100">
                <div class="card-body text-center bg-light table-bordered border-primary w-100">
                    <span class="card-title">
                        <i class="fas fa-person-booth fa-5x text-primary"></i>
                    </span>
                    <h5 class="card-title">Do changes.</h5>
                    <p class="card-text">Do changes.</p>
                    <div class="btn btn-outline-primary">
                        <a class="nav-link" asp-area="" asp-controller="" asp-action="">Learn more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

