<form action="#" class="appointment w-100">
    <div class="row justify-content-center">
        <div class="col-12 col-md d-flex align-items-center pt-4 pt-md-0">
            <div class="form-group py-md-4 py-2 px-4 px-md-0">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Your Name">
            </div>
        </div>
        <div class="col-12 col-md d-flex align-items-center">
            <div class="form-group py-md-4 py-2 px-4 px-md-0">
                <label for="name">Phone number</label>
                <input type="text" class="form-control" placeholder="Phone number">
            </div>
        </div>
        <div class="col-12 col-md d-flex align-items-center">
            <div class="form-group py-md-4 py-2 px-4 px-md-0">
                <label for="name">Select Services</label>
                <div class="form-field">
                    <div class="select-wrap">
                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                        <select name="" id="" class="form-control">
                            <option value="">Select Services</option>
                            <option value="">Spinal Manupulation</option>
                            <option value="">Electrotherapy</option>
                            <option value="">Manual Lymphatic</option>
                            <option value="">Medical Acupuncture</option>
                            <option value="">Therapeutic Exercise</option>
                            <option value="">Joint Mobilization</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12 col-md d-flex align-items-center">
        <div class="form-group py-md-4 py-2 px-4 px-md-">
            <label for="Description">Description</label>
            <textarea type="text" class="form-control" placeholder="Write some additional info"> </textarea>
        </div>
    </div>
    <div class="col-12 col-md d-flex align-items-center align-items-stretch mb-1">
        <div class="form-group py-md-4 py-2 px-4 px-md-0 d-flex align-items-stretch bg-primary">
            <input type="submit" value="Make an Appointment" class="btn btn-primary py-3 px-4">
        </div>
    </div>
</form>