<div class="time-open-wrap">
    <div class="desc p-4">
        <h2>Business Hours</h2>
        <div class="opening-hours">
            <h4>Opening Days:</h4>
            <p class="pl-3">
                <span><strong>Monday – Friday:</strong> 9am to 20 pm</span>
                <span><strong>Saturday :</strong> 9am to 17 pm</span>
            </p>
            <h4>Vacations:</h4>
            <p class="pl-3">
                <span>All Sunday Days</span>
                <span>All Official Holidays</span>
            </p>
        </div>
    </div>
    <div class="desc p-4 bg-secondary">
        <h3 class="heading">For Emergency Cases</h3>
        <span class="phone">(+01) 123 456 7890</span>
    </div>
</div>