<ul class="navbar-nav ml-auto">
    <li class="nav-item active"><a  asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
    <li class="nav-item"><a asp-area="" asp-controller="About" asp-action="Index" class="nav-link">About</a></li>
    <li class="nav-item"><a asp-area="" asp-controller="Service" asp-action="Index" class="nav-link">Services</a></li>
    <li class="nav-item"><a asp-area="" asp-controller="Contact" asp-action="Index" class="nav-link">Contact</a></li>
</ul>